<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">
    
    <ion-row>
      <ion-col size-xs="3" offset-xs="3">
        <ion-img style="width: 150px;" src="../../assets/auth.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" ></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-card>
    <ion-button color="danger" expand="block" (click)="onSignIn()" >
      SIGN IN
  </ion-button>
  <div class="ion-margin-vertical ion-text-center">
    <ion-button color="success" fill="solid" routerLink="/register">
        REGISTER
    </ion-button>
    <ion-button color="light" fill="solid" routerLink="/pwd-reset">
        FORGET PASSWORD
    </ion-button>
</div>
  </div>
</ion-content>
