<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo App
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg-img">
    <H1>Today,</H1>
    <h5>{{currentDate}}</h5>
    <ion-card *ngFor="let task of allTasks">
      <ion-item>
        <ion-checkbox (ionChange)="changeCheckedState(task)" [(ngModel)]="task.checked" color="success"></ion-checkbox>
        <ion-label>
          <h2 [ngStyle]="{'text-decoration': task.checked?'line-through': 'none'}" > {{task.text}} </h2>
          <p>{{task.date}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-item *ngIf="!onAdd" >
      <ion-input [(ngModel)]="newTask" ></ion-input>
      <ion-button (click)="addNewTask()">
        <ion-icon slot="icon-only" name="add-outline" ></ion-icon>
      </ion-button>
    </ion-item> 
    <button class="add-button"  (click)="onAdd = !onAdd" >
      <ion-icon [name]="onAdd?'add-outline':'arrow-undo-circle-outline'"></ion-icon> {{onAdd?'ADD TASK':'CANCEL' }} 
  </button> 
  </div>
</ion-content>
